.best-projects-content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: left;
    max-width: 980px;
    margin: 100px auto 0;
    padding: 0 1rem;
}
.best-projects-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.best-projects-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}
.best-projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.best-project-card {
    border: 1px solid #ABB2BF;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.best-project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 20px rgba(135, 14, 191, 0.2);
}
/* imagem */
.best-project-card img {
    width: 100%;
    height: 200px;
    object-fit: scale-down;
    padding: 10px;
    height: auto;
    display: block;
}
/* techs */
.best-project-techs {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    border-bottom: 1px solid #ABB2BF;
}
.best-project-tech {
    color: #870EBF;
    font-weight: 600;
    font-size: 0.85rem;
}
/* título */
.best-project-title {
    margin: 0.75rem 0 0.25rem;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
}
/* descrição */
.best-project-description {
    margin: 0;
    padding: 0 1rem;
    color: #ABB2BF;
    text-align: center;
    font-size: 0.9rem;
}
/* links */
.best-project-links {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
    justify-content: center;
}
.best-project-link {
    background: transparent;
    border: 1px solid #870EBF;
    color: #FFFFFF;
    padding: 0.4rem 0.9rem;
    font-size: 0.85rem;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.best-project-link:hover {
    background: #870EBF;
    transform: scale(1.05);
}
.all-projects {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: none;
    border: 1.5px solid #870EBF;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.all-projects:hover {
    background: #870EBF;
    transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 900px) {
    .best-projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .best-projects-grid {
        grid-template-columns: 1fr;
    }
}