.cabeca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: 0;
}

.titulo {
    margin: 0;
    margin-left: 100px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    text-decoration: none;
    color: #ABB2BF;
    transition: all 0.3s ease;
    padding: 0px 10px 10px 10px;
    border-radius: 5px;
}

.nav-item:hover {
    color: purple;
}

.hashtag {
    font-weight: bold;
    color: purple;
}

.selecao-idioma {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
}

.selecao-idioma:hover {
    background-color: #1a1a1a;
    color: purple;
}

.selecao-idioma option {
    background-color: #1a1a1a;
    color: #fff;
}